/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #222222f7;
    background-alt: #11111180;
    foreground:     #DEDEDE;
    foreground-alt:    #FFFFFF;
    foreground-alt-2:    #DEDEDE80;
    selected:       #0860f2E6;
    active:         #98C379;
    urgent:         #E06B74;
}
